---
Checks: '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-llvmlibc-*,-boost-use-ranges,-cppcoreguidelines-avoid-reference-coroutine-parameters,-altera-unroll-loops,-cppcoreguidelines-avoid-do-while,-cppcoreguidelines-avoid-capturing-lambda-coroutines'
CheckOptions: [{ key: misc-non-private-member-variables-in-classes, value: IgnoreClassesWithAllMemberVariablesBeingPublic }]
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
